/* 
    Document   : style
    Created on : Sep 27, 2012, 10:25:42 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#wrap {
    width: 960px;
    position:relative;
    margin: 0 auto;
}

#box {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: red;
    width: 100px;
    height: 100px;
}

#circle {
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/*#box {
    -webkit-animation: first 1s linear 0s 1 forwards, second 1s linear 2s 1 forwards;
}

@-webkit-keyframes first { from { top: 100px; left: 100px; opacity: 1; } to { top: 200px; left: 200px; opacity: 1; } } 

@-webkit-keyframes second { from { top: 200px; left: 200px; opacity: 1; } to { top: 120px; left: 120px; opacity: 0; } } */