/* 
    Document   : style
    Created on : Sep 27, 2012, 10:25:42 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#wrap {
    width: 960px;
    position:relative;
    margin: 0 auto;
}

#box {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: red;
    width: 100px;
    height: 100px;
    
    
}


/*#box {
   -webkit-animation: AJdKK 1s linear infinite;
}  

@-webkit-keyframes AJdKK { from { top: 100px; left: 100px; opacity: 1; } to { top: 150px; left: 130px; opacity: 1; } }*/